.app-canvas {
  height: var(--app-height);
  width: var(--app-width);
}

canvas {
  display: block;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://29j8sq-3000.csb.app/images/sprites/green-zone/2 Background/Night/1.png");
}
