.app-canvas {
  height: var(--app-height);
  width: var(--app-width);
}

canvas {
  display: block;
  background-color: #282c34;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/568/403/original/mountain-night-sky-landscape-vector.jpg");
}
