.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--app-height) * 0.1);

  color: white;
  font-weight: 600;
  display: flex;
  padding: 25px;

  gap: 20px;
}

.top-bar > div {
  width: 33.33%;
  height: 100%;
  display: flex;
  align-items: center;
}

.top-bar > div:nth-of-type(2) {
  justify-content: center;
}

.top-bar > div:nth-of-type(3) {
  justify-content: flex-end;
}

img {
  height: 100%;
}

.qr-code {
  border-radius: 10px;
  transition: all .5s;
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: rgba(0, 0, 0, 0.856);
  border: 2px solid white;

  padding: 0px;

  max-width: 100px;

  height: auto!important;

  display: flex;
  flex-direction: column;
}

.qr-code__large {
  top: 50px;
  right: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 300px;
}

.qr-code__large img {
  width: 300px!important;
  height: 300px!important;
}

.qr-code img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  transition: all .5s;
}

.qr-code .qr-code-overlay {
  display: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;

  padding: 10px;
}

.qr-code.qr-code__large .qr-code-overlay {
  display: flex;
}

.qr-code.qr-code__large img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}